@using Andrei15193.Edesia.Models;
@using Andrei15193.Edesia.Resources;
@model ApplicationUser
@{
	string borderColorStyle;
	Employee employee = Model.TryGetRole<Employee>();

	if (Model.IsInRole<Administrator>())
	{
		borderColorStyle = "bd-blue";
	}
	else
		if (Model.IsInRole<Employee>())
		{
			borderColorStyle = "bd-green";
		}
		else
		{
			borderColorStyle = "bd-grayLighter";
		}
}
<div class="@borderColorStyle padding15" style="border-width: 1px; border-style: solid; border-radius: 10px;">
	<h4 style="cursor: pointer">@Model.FirstName @Model.LastName</h4>
	<h5>@Model.EMailAddress</h5>

	@using (Html.BeginForm("PromoteToEmployee", "User", FormMethod.Get))
	{
		if (Model.IsInRole<Administrator>())
		{
			<small class="fg-blue">
				@UserControllerStrings.AdministratorRoleLabel_DisplayName
				<i class="icon-checkmark"></i>
			</small>
		}
		else
		{
			<small class="fg-blue">
				<a class="actionLink" href="@Url.Action("PromoteToAdmin", "User")?eMail=@Url.Encode(Model.EMailAddress)" title="@UserControllerStrings.EnrollAdministratorButton_DisplayName">
					@UserControllerStrings.AdministratorRoleLabel_DisplayName
					<i class="icon-arrow-up"></i>
				</a>
			</small>
		}
		<button type="submit" style="overflow: visible;" class="actionLink bg-transparent no-padding" title="@(employee == null ? UserControllerStrings.EnrollEmployeeButton_DisplayName : UserControllerStrings.UpdateEmployeeButton_DisplayName)">
			@UserControllerStrings.EmployeeRoleLabel_DisplayName
			@if (employee == null)
			{
				<i class="icon-arrow-up"></i>
			}
			else
			{
				<i class="icon-checkmark"></i>
			}
		</button>

		<input type="hidden" name="eMail" value="@Model.EMailAddress" />
		<label for="transportCapacity">@UserControllerStrings.TransportCapacityLabel_DisplayName</label>
		<div class="input-control text">
			<input type="text" name="transportCapacity" value="@(employee == null ? string.Empty : employee.TransportCapacity.ToString())" />
		</div>
	}
</div>