@using System.ComponentModel.DataAnnotations
@using System.Reflection
@model Andrei15193.Edesia.ViewModels.User.UserDetailsViewModel
@{
	ViewBag.Title = Resources.Strings.View.ProfilePageTitle;
}
<div class="grid fluid">
	<div class="row">
		<div class="span4 offset4">
			<h1 style="display: inline;">@Resources.Strings.View.ProfilePageTitle</h1>
			<h3 style="display: inline;">@Model.FirstName @Model.LastName</h3>
			@using (Html.BeginForm())
			{
				@Html.LabelFor(model => model.EMailAddress)
				<div class="input-control text">
					@Html.EditorFor(model => model.EMailAddress, new
						{
							disabled = "disabled"
						})
				</div>
				@Html.LabelFor(model => model.Street)
				@*@Html.Partial("_ModelErrorNotice", ViewData.ModelState["Street"])*@
				<div class="input-control text">
					@Html.EditorFor(model => model.Street)
				</div>
				<input class="action" type="submit" value="@Resources.Strings.View.AcceptButtonText" />
			}
		</div>
	</div>
</div>