@model Andrei15193.Edesia.ViewModels.User.LoginViewModel
@{
	ViewBag.Title = Resources.Strings.View.LoginLabel;
}
<div class="grid fluid">
	<div class="row">
		<div class="span4 offset4">
			<h1>@Resources.Strings.View.LoginLabel</h1>
			@using (Html.BeginForm())
			{
				@Html.LabelFor(model => model.EMail)
				@Html.Partial("_ModelErrorNotice", ViewData.ModelState["EMail"])
				<div class="input-control text">
					@Html.EditorFor(model => model.EMail)
				</div>
				@Html.LabelFor(model => model.Password)
				@Html.Partial("_ModelErrorNotice", ViewData.ModelState["Password"])
				<div class="input-control password">
					@Html.EditorFor(model => model.Password)
				</div>
				<input class="action" type="submit" value="@Resources.Strings.View.LoginLabel" />
			}
		</div>
	</div>
</div>