@model Andrei15193.Edesia.ViewModels.User.LoginViewModel
@{
	ViewBag.Title = LanguageResource.LoginLabel;
}
<div class="grid fluid">
	<div class="row">
		<div class="span4 offset4">
			<h1>@LanguageResource.LoginLabel</h1>
			@using (Html.BeginForm())
			{
				@Html.LabelFor(model => model.Email)
				<div class="input-control text">
					@Html.EditorFor(model => model.Email)
				</div>
				@Html.LabelFor(model => model.Password)
				<div class="input-control password">
					@Html.EditorFor(model => model.Password)
				</div>
				<input class="action" type="submit" value="Autentificare" />
			}
		</div>
	</div>
</div>