@using Andrei15193.Edesia.Resources;
@model Andrei15193.Edesia.ViewModels.User.LoginViewModel
@{
	ViewBag.Title = UserControllerStrings.LoginViewTitle;
}
<div class="grid fluid">
	<div class="row">
		<div class="span4 offset4">
			<h1>@UserControllerStrings.LoginViewTitle</h1>
			@using (Html.BeginForm())
			{
				@Html.LabelFor(model => model.EMailAddress)
				@Html.Partial("_ModelErrorNotice", ViewData.ModelState["EMailAddress"])
				<div class="input-control text">
					@Html.EditorFor(model => model.EMailAddress)
				</div>
				@Html.LabelFor(model => model.Password)
				@Html.Partial("_ModelErrorNotice", ViewData.ModelState["Password"])
				<div class="input-control password">
					@Html.EditorFor(model => model.Password)
				</div>
				<input class="action" type="submit" value="@UserControllerStrings.LoginButton_DisplayName" />
				<div style="margin-top: 15px;">
					@UserControllerStrings.RegisterAccountButton_Label <a href="@Url.Action("Register", "User")" class="actionLink">@UserControllerStrings.RegisterAccountButton_DisplayName</a>
				</div>
			}
		</div>
	</div>
</div>