@using Andrei15193.Edesia.Resources;
@model Andrei15193.Edesia.ViewModels.User.RegisterViewModel
@{
	ViewBag.Title = RegisterViewStrings.ViewTitle;
}
<div class="grid fluid">
	<div class="row">
		<div class="span4 offset4">
			<h1>@RegisterViewStrings.ViewTitle</h1>
			@using (Html.BeginForm())
			{
				@Html.LabelFor(model => model.FirstName)
				@Html.Partial("_ModelErrorNotice", ViewData.ModelState["FirstName"])
				<div class="input-control text">
					@Html.EditorFor(model => model.FirstName)
				</div>
				@Html.LabelFor(model => model.LastName)
				@Html.Partial("_ModelErrorNotice", ViewData.ModelState["LastName"])
				<div class="input-control text">
					@Html.EditorFor(model => model.LastName)
				</div>
				@Html.LabelFor(model => model.EMailAddress)
				@Html.Partial("_ModelErrorNotice", ViewData.ModelState["EMailAddress"])
				<div class="input-control text">
					@Html.EditorFor(model => model.EMailAddress)
				</div>
				@Html.Partial("_ModelErrorNotice", ViewData.ModelState["EMailAddressCopy"])
				<div class="input-control text">
					@Html.EditorFor(model => model.EMailAddressCopy)
				</div>
				@Html.LabelFor(model => model.Password)
				@Html.Partial("_ModelErrorNotice", ViewData.ModelState["Password"])
				<div class="input-control text">
					@Html.EditorFor(model => model.Password)
				</div>
				@Html.Partial("_ModelErrorNotice", ViewData.ModelState["PasswordCopy"])
				<div class="input-control text">
					@Html.EditorFor(model => model.PasswordCopy)
				</div>
				<input type="submit" class="action" value="@RegisterViewStrings.RegisterButton_DisplayName" />
			}
		</div>
	</div>
</div>