@using Andrei15193.Edesia.Resources;
@using Andrei15193.Edesia.Models;
@model IEnumerable<DeliveryTask>
@{
	Layout = null;
}
<div class="grid fluid">
	<div class="row">
		<div class="span12">
			<nav class="horizontal-menu">
				<ul class="no-margin no-padding">
					<li>
						<h2 class="dropdown-toggle dropdown-toggle-h2">@DeliveryTaskControllerStrings.PendingDeliveriesLabel_DisplayName (@Model.Count())</h2>
						<ul class="dropdown-menu inverse" data-role="dropdown" data-effect="fade">
							<li class="fg-emerald @(!Model.Any() ? "disabled" : string.Empty)">
								<a class="@(!Model.Any() ? "disabledActionLink" : string.Empty)" title="@DeliveryTaskControllerStrings.CancelPendingDeliveriesButton_Hint">@DeliveryTaskControllerStrings.CancelPendingDeliveriesButton_DisplayName</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			@foreach (DeliveryTask deliveryTask in Model)
			{
				Html.RenderPartial("_DeliveryTask", new KeyValuePair<DeliveryTask, bool>(deliveryTask, deliveryTask.State == TaskState.InProgress));
			}
		</div>
	</div>
</div>