@using Andrei15193.Edesia.Resources;
@using Andrei15193.Edesia.Models;
@model IEnumerable<DeliveryTask>
@{
	Layout = null;
}
<div class="grid fluid">
	<div class="row">
		<div class="span12">
			<nav class="horizontal-menu">
				<ul class="no-margin no-padding">
					<li>
						<h2 class="dropdown-toggle dropdown-toggle-h2">@DeliveryTaskControllerStrings.PendingDeliveriesLabel_DisplayName (@Model.Count())</h2>
						<ul class="dropdown-menu inverse" data-role="dropdown" data-effect="fade">
							<li class="fg-emerald @(!Model.Any() ? "disabled" : string.Empty)">
								<a class="@(!Model.Any() ? "disabledActionLink" : string.Empty)">@DeliveryTaskControllerStrings.CancelPendingTransportsButton_DisplayName</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			@foreach (DeliveryTask deliveryTask in Model)
			{
				<div class="accordion with-marker" data-role="accordion">
					<div class="accordion-frame">
						<a class="heading" style="cursor: pointer;">
							<i class="icon-stop" style="color: @deliveryTask.DeliveryZone.Colour.ToString();"></i> Transport #@deliveryTask.DeliveryTaskNumber
						</a>
						<div class="content">
							<p>
								<small>@DeliveryTaskControllerStrings.DeliveryStateLabel_DisplayName: scheduled</small><br />
								<strong>@DeliveryTaskControllerStrings.OrdersLabel_DisplayName:</strong>
								<ul>
									@foreach (Order order in deliveryTask.OrdersToDeliver)
									{
										<li>@(string.Format(DeliveryTaskControllerStrings.OrderListItemLabel_DisplayName_Format, order.OrderNumber, order.DeliveryAddress))</li>
									}
								</ul>
							</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>