@using Andrei15193.Edesia.Models;
@using Andrei15193.Edesia.Resources;
@model Order
<div class="accordion with-marker" data-role="accordion">
	<div class="accordion-frame">
		<a class="heading" style="cursor: pointer;">
			@string.Format(OrderControllerStrings.OrderAccordionFrameHeader_DisplayName_Format, Model.OrderNumber, Model.DatePlaced)
		</a>
		<div class="content">
			<small>
				@OrderControllerStrings.DeliveryStreetLabel_DisplayName @Model.DeliveryStreet, @Model.DeliveryAddressDetails
			</small>
			<ul>
				@foreach (OrderedProduct orderedProduct in Model.OrderedProducts)
				{
					<li>@string.Format(OrderControllerStrings.OrderedProductLabel_DisplayName_Format, orderedProduct.Product.Name, orderedProduct.Quantity, orderedProduct.Product.Price, orderedProduct.Product.Price * orderedProduct.Quantity)</li>
				}
			</ul>
		</div>
	</div>
</div>