@using Andrei15193.Edesia.Models;
@using Andrei15193.Edesia.Resources;
@model ShoppingCartEntry
<div style="margin-bottom: 10px;">
	<div style="display: inline;">
		<img class="rounded span3 margin5" src="@Model.Product.ImageLocation.AbsoluteUri" />
	</div>
	<div style="margin-left: 23.404252%; padding-left:10px;">
		<h2>@Model.Product.Name</h2>
		<div>
			@OrderControllerStrings.QuantityLabel_DisplayName
			<span style="float: right;">@Model.Quantity</span>
		</div>
		<div>
			@OrderControllerStrings.PriceLabel_DisplayName<span style="float: right;">@Model.Product.Price.ToString("0.00") RON</span>
		</div>
		<div>
			<strong>@OrderControllerStrings.TotalPriceLabel_DisplayName</strong><strong style="float: right;">@((Model.Product.Price * Model.Quantity).ToString("0.00")) RON</strong>
		</div>
	</div>
</div>