@using Andrei15193.Edesia.Models;
@using Andrei15193.Edesia.Resources;
@using Andrei15193.Edesia.ViewModels.Order;
@model CheckoutViewModel
@{
	ViewBag.Title = OrderControllerStrings.CheckoutViewTitle;
}
<div class="grid fluid">
	<div class="row">
		<div class="span8 offset4">
			<h1>@OrderControllerStrings.CheckoutViewTitle</h1>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset4">
			@using (Html.BeginForm())
			{
				<h2>@OrderControllerStrings.OrderDetailsLabel_DisplayName</h2>
				<p>
					@OrderControllerStrings.TotalProductsLabel_DisplayName<span style="float: right;">@Model.ShoppingCart.Count</span><br />
					<strong>@OrderControllerStrings.TotalPriceLabel_DisplayName</strong><strong style="float: right;">@Model.ShoppingCart.TotoalPrice.ToString("0.00") RON</strong>
				</p>
				<div class="accordion with-marker" data-role="accordion">
					<div class="accordion-frame">
						<span class="heading" style="cursor: pointer;">
							@OrderControllerStrings.OrderedProductsLabel_DisplayName
						</span>
						<div class="content">
							@foreach (ShoppingCartEntry shoppingCartEntry in Model.ShoppingCart)
							{
								Html.RenderPartial("_ShoppingCartEntry", shoppingCartEntry);
							}
						</div>
					</div>
				</div>

				<h2>@OrderControllerStrings.DeliveryDetailsLabel_DisplayName</h2>
				@Html.LabelFor(model => model.SelectedStreet)
				if (ViewData.ModelState.ContainsKey("SelectedStreet"))
				{
					Html.RenderPartial("_ModelErrorNotice", ViewData.ModelState["SelectedStreet"]);
				}
				<div class="input-control select">
					<select name="SelectedStreet" size="10">
						@foreach (string street in Model.Streets)
						{
							<option @(string.Equals(Model.SelectedStreet, street, StringComparison.Ordinal) ? "selected=\"selected\"" : string.Empty)>@street</option>
						}
					</select>
				</div>
				@Html.LabelFor(model => model.AddressDetails)
				if (ViewData.ModelState.ContainsKey("AddressDetails"))
				{
					Html.RenderPartial("_ModelErrorNotice", ViewData.ModelState["AddressDetails"]);
				}
				<div class="input-control text">
					@Html.EditorFor(model => model.AddressDetails)
				</div>
				<div class="input-control">
					<input type="submit" class="button large action" style="float: right;" value="@OrderControllerStrings.SubmitOrderButton_DisplayName" />
					<a href="@Url.Action("Default", "ShoppingCart")" class="button large cancelAction">@OrderControllerStrings.BackToShoppingCart_DisplayName</a>
				</div>
			}
		</div>
	</div>
</div>