@using Andrei15193.Edesia.Models;
@using Andrei15193.Edesia.Resources;
@model KeyValuePair<Order, bool>
<div class="accordion with-marker" data-role="accordion">
	<div class="accordion-frame">
		<a class="heading @(Model.Value ? "active" : string.Empty)" style="cursor: pointer;">
			@string.Format(OrderControllerStrings.OrderAccordionFrameHeader_DisplayName_Format, Model.Key.Number, Model.Key.DatePlaced)
		</a>
		<div class="content">
			<small>
				@OrderControllerStrings.DeliveryAddressLabel_DisplayName @Model.Key.DeliveryAddress.Street, @Model.Key.DeliveryAddress.Details
			</small>
			<ul>
				@foreach (OrderedProduct orderedProduct in Model.Key.OrderedProducts)
				{
					<li>@string.Format(OrderControllerStrings.OrderedProductLabel_DisplayName_Format, orderedProduct.Product.Name, orderedProduct.Quantity, orderedProduct.Product.Price, orderedProduct.Product.Price * orderedProduct.Quantity)</li>
				}
			</ul>
			<small>
				@OrderControllerStrings.TotalProductsLabel_DisplayName <span style="float: right;">@Model.Key.OrderedProducts.Sum(orderedProduct => orderedProduct.Quantity)</span><br />
				<strong>@OrderControllerStrings.TotalPriceLabel_DisplayName</strong> <strong style="float: right;">@Model.Key.TotalCost.ToString("0.00") RON</strong>
			</small>
		</div>
	</div>
</div>