@using Andrei15193.Edesia.Models;
@using Andrei15193.Edesia.Resources;
@model IEnumerable<Product>
@{
	ViewBag.Title = ProductControllerStrings.DefaultViewTitle;
}
@if (User.IsInRole<Administrator>())
{
	<nav class="horizontal-menu">
		<ul class="no-margin no-padding">
			<li>
				<h1 class="dropdown-toggle" style="cursor: pointer;">@ProductControllerStrings.DefaultViewTitle</h1>
				<ul class="dropdown-menu inverse" data-role="dropdown" data-effect="fade">
					<li class="fg-emerald">
						<a href="@Url.Action("Add", "Product")">@ProductControllerStrings.AddProductButton_DisplayName</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
}
else
{
	<h1>@ProductControllerStrings.DefaultViewTitle</h1>
}

<div class="grid fluid">
	@foreach (IGrouping<int, Product> productsOnRow in Model.Select((product, index) => new
																		{
																			Row = index / 4,
																			Product = product
																		})
																	 .GroupBy(productWithRow => productWithRow.Row,
																			  productWithRow => productWithRow.Product))
	{
		<div class="row">
			@foreach (Product product in productsOnRow)
			{
				<div class="span3">
					@Html.Partial("_Product", product)
				</div>
			}
		</div>
	}
</div>

@section scripts
{
	<script>
		$.Dialog({
			shadow: true,
			overlay: false,
			flat: true,
			icon: '<span class="icon-info-2 fg-emerald"></span>',
			title: "<span class=\"fg-emerald\">@ProductControllerStrings.NoticeTitle.Replace("\"", "\\\"")</span>",
			width: 500,
			padding: 10,
			content: '',
			draggable: true,
			onShow: function (_dialog)
			{
				var content = _dialog.children('.content');
				content.html("@ProductControllerStrings.NoticeParagraph1.Replace("\"", "\\\"")");
			}

		});
	</script>
}