@using Andrei15193.Edesia.Models;
@using Andrei15193.Edesia.Resources;
@model IEnumerable<Product>
@{
	ViewBag.Title = ProductControllerStrings.DefaultViewTitle;
}
@if (User != null && User.IsInRole<Administrator>())
{
	<nav class="horizontal-menu">
		<ul class="no-margin no-padding">
			<li>
				<h1 class="dropdown-toggle" style="cursor: pointer;">@ProductControllerStrings.DefaultViewTitle</h1>
				<ul class="dropdown-menu inverse" data-role="dropdown" data-effect="fade">
					<li class="fg-emerald">
						<a href="@Url.Action("Add", "Product")">@ProductControllerStrings.AddProductButton_DisplayName</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
}
else
{
	<h1>@ProductControllerStrings.DefaultViewTitle</h1>
}
<p style="text-align: justify;">
	<i class="icon-info-2 fg-emerald"></i> @ApplicationControllerStrings.ProductSourceLabel_DisplayName <a href="http://www.carrefour.ro/" target="_blank">Carrefour.ro</a>
</p>
<p style="text-align: justify;">
	<i class="icon-info-2 fg-emerald"></i> @ProductControllerStrings.NoticeParagraph1
</p>
<p style="text-align: right;">
	<em>- Andrei</em>
</p>

<div class="grid fluid">
	@foreach (IGrouping<int, Product> productsOnRow in Model.Select((product, index) => new
																		{
																			Row = index / 4,
																			Product = product
																		})
																	 .GroupBy(productWithRow => productWithRow.Row,
																			  productWithRow => productWithRow.Product))
	{
		<div class="row">
			@foreach (Product product in productsOnRow)
			{
				<div class="span3">
					@Html.Partial("_Product", product)
				</div>
			}
		</div>
	}
</div>