@using Andrei15193.Edesia.Models
@model IEnumerable<Andrei15193.Edesia.Models.Offer>
@{
	ViewBag.Title = "Show";
	Layout = "~/Views/Shared/_Layout.cshtml";
	Product product = Model.First().Product;
}

<div>
	<h4>@product.ProductName</h4>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.First().Product.ProductName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.First().Product.ProductName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.First().Product.ProducerName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.First().Product.ProducerName)
		</dd>

	</dl>
</div>