@using Andrei15193.Edesia.Resources;
<div class="grid fluid">
	<div class="row">
		<div class="span12">
			<h2>@DeliveryZonePlanningViewStrings.ViewTitle</h2>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<a href="@Url.Action("ManageDeliveryZones", "Delivery")" class="command-button action" style="width: 100%;">
				<i class="icon-cog on-left"></i>
				@DeliveryZonePlanningViewStrings.ManageDeliveryZonesButton_DisplayName
				<small>@DeliveryZonePlanningViewStrings.ManageDeliveryZonesButton_Hint</small>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			@Html.Action("DeliveryZones", "Delivery")
		</div>
	</div>
</div>