@using Andrei15193.Edesia.Resources;
@using Andrei15193.Edesia.Models;
@model IEnumerable<DeliveryZone>
@{
	ViewBag.Title = GetDeliveryZoneNameViewStrings.ViewTitle;
}
<div class="grid fluid">
	<div class="row">
		<div class="span4 offset4">
			<h1>@GetDeliveryZoneNameViewStrings.ViewTitle</h1>
			@using (Html.BeginForm("EditDeliveryZone", "Delivery", FormMethod.Get))
			{
				<label for="deliveryZoneName">@GetDeliveryZoneNameViewStrings.DeliveryZoneNameComboBox_DisplayName</label>
				if (ViewData.ModelState.ContainsKey("deliveryZoneName"))
				{
					@Html.Partial("_ModelErrorNotice", ViewData.ModelState["deliveryZoneName"])
				}
				<div class="input-control select">
					<select id="deliveryZoneName" name="deliveryZoneName">
						@foreach (DeliveryZone deliveryZoneName in Model)
						{
							<option style="color: @deliveryZoneName.Colour.ToString();">@deliveryZoneName.Name</option>
						}
					</select>
				</div>
				<input type="submit" class="action" value="@GetDeliveryZoneNameViewStrings.SubmitButton_DisplayName" />
				<a class="button cancelAction" href="@Url.Action("ManageDeliveryZones", "Delivery")">@GetDeliveryZoneNameViewStrings.CancelButton_DisplayName</a>
			}
		</div>
	</div>
</div>