@using Andrei15193.Edesia.Resources;
@model Andrei15193.Edesia.ViewModels.Delivery.DeliveryZonesViewModel
@{
	ViewBag.Title = ManageDeliveryZonesViewStrings.ViewTitle;
}
<h1>@ManageDeliveryZonesViewStrings.ViewTitle</h1>
<div class="grid fluid">
	<div class="row">
		<div class="span4">
			<h2>
				@ManageDeliveryZonesViewStrings.DeliveryZonesLabel_DisplayName
			</h2>
		</div>
		<div class="span8">
			<h2>
				@ManageDeliveryZonesViewStrings.ManageOptionsLabel_DisplayName
			</h2>
		</div>
	</div>
	<div class="row no-margin">
		<div class="span4">
			@Html.Partial("_DeliveryZones", Model)
		</div>
		<div class="span8">
			<ul style="list-style: none;">
				<li>
					<a href="@Url.Action("AddStreet", "Delivery")" class="actionLink">
						<i class="icon-location"></i> @ManageDeliveryZonesViewStrings.AddStreetButton_DisplayName
					</a>
				</li>
				<li>
					@if (Model.UnusedStreets.Any())
					{
						<a href="@Url.Action("RemoveStreet", "Delivery")" class="actionLink">
							<i class="icon-remove"></i> @ManageDeliveryZonesViewStrings.RemoveStreetButton_DisplayName
						</a>
					}
					else
					{
						<a class="disabledActionLink">
							<i class="icon-remove"></i> @ManageDeliveryZonesViewStrings.RemoveStreetButton_DisplayName
						</a>
					}
				</li>
			</ul>
			<ul style="list-style: none;">
				<li>
					<a href="@Url.Action("AddDeliveryZone", "Delivery")" class="actionLink">
						<i class="icon-location-3"></i> @ManageDeliveryZonesViewStrings.AddDeliveryZoneButton_DisplayName
					</a>
				</li>
				<li>
					<a href="@Url.Action("GetDeliveryZoneName", "Delivery")" class="actionLink">
						<i class="icon-pencil"></i> @ManageDeliveryZonesViewStrings.EditDeliveryZoneButton_DisplayName
					</a>
				</li>
				<li>
					<a href="@Url.Action("RemoveDeliveryZone", "Delivery")" class="actionLink">
						<i class="icon-remove"></i> @ManageDeliveryZonesViewStrings.RemoveDeliveryZoneButton_DisplayName
					</a>
				</li>
			</ul>
			<ul style="list-style: none;">
				<li>
					<a href="/Delivery/Planning" class="actionLink">
						<i class="icon-arrow-left-3"></i> @ManageDeliveryZonesViewStrings.BackToDeliveryPlanningButton_DisplayName
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>