@using Andrei15193.Edesia.Models;
@using Andrei15193.Edesia.Resources;
@model IEnumerable<Order>
@{
	Layout = null;
	int pendingOrdersCount = Model.Count();
}
<div class="grid fluid">
	<div class="row">
		<div class="span12">
			<nav class="horizontal-menu">
				<ul class="no-margin no-padding">
					<li>
						<h2 class="dropdown-toggle dropdown-toggle-h2">@PendingOrdersViewStrings.ViewTitle (@pendingOrdersCount)</h2>
						<ul class="dropdown-menu inverse" data-role="dropdown" data-effect="fade">
							<li class="fg-emerald @(pendingOrdersCount == 0 ? "disabled" : string.Empty)">
								<a class="@(pendingOrdersCount == 0 ? "disabledActionLink" : string.Empty)" href="@Url.Action("ScheduleTasks", "Delivery")">@PendingOrdersViewStrings.SchedulePendingOrdersButton_DisplayName</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			@foreach (Order order in Model)
			{
				@Html.Partial("_PendingOrder", order)
			}
		</div>
	</div>
</div>