@using Andrei15193.Edesia.Models;
@using Andrei15193.Edesia.Resources;
@model IEnumerable<Order>
@{
	Layout = null;
	int pendingOrdersCount = Model.Count();
}
<div class="grid fluid">
	<div class="row">
		<div class="span12">
			<h2>@PendingOrdersViewStrings.ViewTitle (@pendingOrdersCount)</h2>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			@if (pendingOrdersCount == 0)
			{
				<a class="command-button action disabled" style="width: 100%;">
					<i class="icon-bars on-left"></i>
					@PendingOrdersViewStrings.SchedulePendingOrdersButton_DisplayName
					<small>@PendingOrdersViewStrings.SchedulePendingOrdersButton_Hint</small>
				</a>
			}
			else
			{
				<a class="command-button action" style="width: 100%;">
					<i class="icon-bars on-left"></i>
					@PendingOrdersViewStrings.SchedulePendingOrdersButton_DisplayName
					<small>@PendingOrdersViewStrings.SchedulePendingOrdersButton_Hint</small>
				</a>
			}
		</div>
	</div>
	<div class="row">
		<div class="span12">
			@foreach (Order order in Model)
			{
				@Html.Partial("_PendingOrder", order)
			}
		</div>
	</div>
</div>