@using Andrei15193.Edesia.Resources;
@model Andrei15193.Edesia.ViewModels.Delivery.RemoveStreetViewModel
@{
	ViewBag.Title = RemoveStreetViewStrings.ViewTitle;
}
<div class="grid fluid">
	<div class="row">
		<div class="span4 offset4">
			<h1>@RemoveStreetViewStrings.ViewTitle</h1>
			@using (Html.BeginForm())
			{
				@Html.LabelFor(model => model.StreetToRemove)
				<div class="input-control select">
					<select name="StreetToRemove">
						@foreach (string unusedStreet in Model.UnusedStreets)
						{
							<option>@unusedStreet</option>
						}
					</select>
				</div>
				<input class="action" type="submit" value="@RemoveStreetViewStrings.SubmitButton_DisplayName" />
				<a class="button cancelAction" href="@Url.Action("ManageDeliveryZones", "Delivery")">@RemoveStreetViewStrings.CancelButton_DisplayName</a>
			}
			<p><i class="icon-info-2 fg-emerald"></i> <small>@RemoveStreetViewStrings.StreetToRemoveComboBox_Hint</small></p>
		</div>
	</div>
</div>