@using Andrei15193.Edesia.Resources;
@using Andrei15193.Edesia.Models;
@model IEnumerable<Andrei15193.Edesia.Models.DeliveryZone>
@{
	ViewBag.Title = RemoveDeliveryZoneViewStrings.ViewTitle;
}
<div class="grid fluid">
	<div class="row">
		<div class="span4 offset4">
			<h1>@RemoveDeliveryZoneViewStrings.ViewTitle</h1>
			@using (Html.BeginForm())
			{
				<label>@RemoveDeliveryZoneViewStrings.DeliveryZoneLabel_DisplayName</label>
				<div class="input-control select">
					<select name="deliveryZoneName">
						@foreach (DeliveryZone deliveryZone in Model)
						{
							<option style="color: @deliveryZone.Colour.ToString();">@deliveryZone.Name</option>
						}
					</select>
				</div>
				<input type="submit" class="action" value="@RemoveDeliveryZoneViewStrings.SubmitButton_DisplayName" />
				<a class="button cancelAction" href="@Url.Action("ManageDeliveryZones", "Delivery")">@RemoveDeliveryZoneViewStrings.CancelButton_DisplayName</a>
			}
		</div>
	</div>
</div>