@using Andrei15193.Edesia.Resources;
@model Andrei15193.Edesia.ViewModels.Delivery.RemoveAddressViewModel
@{
	ViewBag.Title = RemoveAddressViewStrings.ViewTitle;
}
<div class="grid fluid">
	<div class="row">
		<div class="span4 offset4">
			<h1>@RemoveAddressViewStrings.ViewTitle</h1>
			@using (Html.BeginForm())
			{
				@Html.LabelFor(model => model.AddressToRemove)
				<div class="input-control select">
					<select name="AddressToRemove">
						@foreach (string unusedAddress in Model.UnusedAddresses)
						{
							<option>@unusedAddress</option>
						}
					</select>
				</div>
				<input class="action" type="submit" value="@RemoveAddressViewStrings.SubmitButton_DisplayName" />
				<a class="button cancelAction" href="@Url.Action("ManageDeliveryZones", "Delivery")">@RemoveAddressViewStrings.CancelButton_DisplayName</a>
			}
			<p><i class="icon-info-2 fg-emerald"></i> <small>@RemoveAddressViewStrings.AddressToRemoveComboBox_Hint</small></p>
		</div>
	</div>
</div>