@using Andrei15193.Edesia.Models;
@model IEnumerable<DeliveryTask>
@{
}
<ul>
	@foreach (DeliveryTask deliveryTask in Model)
	{
		<li>
			<p>@deliveryTask.Title</p>
			<p>@deliveryTask.Description</p>
			<p>@deliveryTask.DateScheduled</p>
			<p>@deliveryTask.DeliveryZone.Name</p>
			<ul>
				@foreach (Order order in deliveryTask.OrdersToDeliver)
				{
					<li>@order.OrderNumber</li>
				}
			</ul>
		</li>
	}
</ul>