@using Andrei15193.Edesia.Resources;
@model Andrei15193.Edesia.Models.DeliveryZone
<div class="accordion with-marker" data-role="accordion">
	<div class="accordion-frame">
		<span class="heading" style="cursor: pointer; padding-right: 0; z-index: 1;">
			@if (!Model.Addresses.Any())
			{
				<span class="fg-red"><i class="icon-warning"></i> @DeliveryZoneControllerStrings.DeliveryZoneAddressesListBox_NoValues</span><br />
			}
			@if (Model.Assignee == null)
			{
				<span class="fg-red"><i class="icon-warning"></i> @DeliveryZoneControllerStrings.DeliveryZoneAssigneeListBox_NoValues</span><br />
			}
			<i class="icon-stop" style="color: @Model.Colour.ToString();"></i> @Model.Name
		</span>
		<div style="float: right; z-index: 2; position: relative; top: -30px; margin-right: 10px;">
			<a class="actionLink" href="@Url.Action("Edit", "DeliveryZone")?deliveryZone=@Url.Encode(Model.Name)"><i class="icon-pencil"></i></a>
			<a class="actionLink" href="@Url.Action("Remove", "DeliveryZone")?deliveryZone=@Url.Encode(Model.Name)"><i class="icon-remove"></i></a>
		</div>
		<div class="content">
			@if (Model.Assignee != null)
			{
				<small>
					@string.Format(DeliveryZoneControllerStrings.ResponsibleLabel_DisplayName_Format, Model.Assignee.FirstName, Model.Assignee.LastName, Model.Assignee.TransportCapacity)
				</small>
			}
			<ul>
				@foreach (string address in Model.Addresses)
				{
					<li>@address</li>
				}
			</ul>
		</div>
	</div>
</div>