@using Andrei15193.Edesia.Models;
@using Andrei15193.Edesia.Resources;
@model IEnumerable<DeliveryZone>
@{
	Layout = null;
}
<div class="grid fluid">
	<div class="row">
		<div class="span12">
			<nav class="horizontal-menu">
				<ul class="no-margin no-padding">
					<li>
						<h2 class="dropdown-toggle dropdown-toggle-h2">@DeliveryZoneControllerStrings.DefaultViewTitle (@Model.Count())</h2>
						<ul class="dropdown-menu inverse" data-role="dropdown" data-effect="fade">
							<li class="fg-emerald">
								<a href="@Url.Action("Add", "Street")">@DeliveryZoneControllerStrings.AddStreetMenuItem_DisplayName</a>
							</li>
							<li class="fg-emerald">
								<a href="@Url.Action("Add", "DeliveryZone")">@DeliveryZoneControllerStrings.AddDeliveryZoneMenuItem_DisplayName</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			@Html.Action("Unmapped", "Street")
			@foreach (DeliveryZone deliveryZone in Model)
			{
				@Html.Partial("_DeliveryZone", deliveryZone)
			}
		</div>
	</div>
</div>